:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --main-bg-light: #c9d9ff;
  --main-bg-dark: #4b5775;
  --card-bg-light: #4486f9;
  --card-bg-dark: #324d7d;
  --line-color-light: black;
  --line-color-dark: rgb(9, 30, 112);
  --text-color-light: black;
  --text-color-dark: white;
  --bar-color-light: #05b3b3;
  --bar-color-dark: #014545;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-bg-light);
}

label{
  padding-left: 1rem;
  padding-right:1rem;
}

#main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 @media (prefers-color-scheme: dark) {
    body{
      background-color: var(--main-bg-dark);
    }
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  input, select{
    padding: .25rem;
    border-radius: .5rem;
  }
 
}
